[Unit]
Description=LANWeather Coordinator Service
#After=network.target

[Service]
Type=forking
PIDFile=/var/run/lanweatherd.pid
ExecStart=/usr/sbin/lanweatherd
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target